server:
  address: ${HTTP_BIND_ADDRESS:0.0.0.0}
  port: ${HTTP_BIND_PORT:9090}
  servlet:
    context-path: /api

management:
  server:
    port: ${MANAGEMENT_SERVER_PORT:8081}

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html

spring:
  application:
    name: sky-ledger-services

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${ISSUER_URI}

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: ${DDL_AUTO}
    show-sql: ${SHOW_SQL}
    open-in-view: false

syntaxnow:
  sso:
    enabled: true
    public-paths:
      - /actuator/**
      - /swagger-ui/**
      - /v3/api-docs/**
    allowed-origins: ${ALLOWED_ORIGINS:http://localhost:5173}

logging:
  level:
    root: ${LOG_LEVEL:INFO}
