spring:
  application:
    name: sky-ledger-services

  datasource:
    url: jdbc:postgresql://localhost:5432/businessProfile
    username: postgres
    password: syntaxnow
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true

server:
  address: ${HTTP_BIND_ADDRESS:0.0.0.0}
  port: ${HTTP_BIND_PORT:9090}
  servlet:
    context-path: /api

management:
  server:
    port: ${MANAGEMENT_SERVER_PORT:8081}

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html

logging:
  level:
    org:
      springframework: INFO
